
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::common-header" />


<body>

	<div th:replace="common/header::navbar"></div>


 <div class="container">
<div class="row">
<div class="col-xs-8">

 </div>
 
 
 <div class="col-xs-2">
 <img  th:src="@{/images/kounestore.jpg}" class="img-responsive" style="width: 150px; margin-top: -35px;margin-bottom: 10px;">
 
 </div>

</div>


</div>
<div th:replace="common/header::footer"></div>

<div th:replace="common/header::body-bottom-script"></div>
	
	
	
	
</body>
</html>
